body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid black;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 200px;
}

.product-info {
  padding: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

.succes {
  color: limegreen;
}

.fail {
  color: red;
}

/* Card */

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: lightgray;
  border-radius: 0.5rem;
  margin: 2.5rem;
}

.card-body {
  padding: 1.3rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

img.large {
  width: 70%;
  margin-top: 40px;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

/* signin screen */

.small-container {
  max-width: 600px;
}
